* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}

input, select {
    border: none;
    outline: none; 
    box-shadow: none; 
    padding: 8px; 
}

input:focus, select:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

span{
    font-size: 0.7rem;
    font-size: 12px;
}
 
/* Navbar */

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 55px;
    width: 110px;
}
.logo{
    background-image: url("./amazon-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 55px;
    width: 100%;
}

.border{
    border: 1.5px solid transparent;
    transition: border 0.3s;
}

.border:hover{
    border: 1.5px solid white;
}


    /* box 2 Address */
.add-icon{
    display: flex;
}

.add-first {
    color: #cccccc;
    font-size: 0.75rem;
    margin-left: 20px;
}

.add-second {
    font-size: 1rem;
    margin-left: 8px;
}

    /* box 3 search bar */

.nav-search{
    border: 3px solid transparent;
    display: flex;
    justify-content:space-between;
    width: 900px;
    height: 45px;
    border-radius: 5px;
}
.nav-search:hover{
    border: 3px solid #febb68;
    border-radius: 8px;
}
.search-select{
    background-color: #e6e6e6;
    width: 60px;
    text-align: center;
    border-radius: 5px 0 0 5px;
    bottom: none;
    padding: 0 0 0 5px;
    color: #0f1111;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    padding: 7px 10px 7px;
}


.search-icon{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #febb68;
    border: none;
    outline: none;
    box-shadow: none;
    color: black;
    font-size: 1.4rem;
    border-radius: 0 5px 5px 0;
}


    /* box 4 Sign in */

.nav-signin{

}

.nav-second{
    font-size: 14px;
    font-weight: 700;
}


    /* box 5 Card  */
.nav-cart {
    display: flex;
    align-items: end;
    color: white;
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
}

.nav-cart i {
    font-size: 25px;
    margin-right: 5px;
}
.nav-cart{
    font-size: 14px;
}

/* Panel section  */

.panel{
    height: 40px;
    background-color: #222f3d;
    align-items: center;
    color: #ffffff;
    display: flex;
    font-size: 14px;
    padding: 0px 0px 0px 11px;
    font-weight: 500;
}

.panel-all{
    padding: 8px 9px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.panel-all i{
    font-size: 18px;
}
.panel-all span{
    padding: 0 0 0 5px;
    font-size: 14px;
    font-weight: 600;
}

.panel-ops{
    display: flex;
}

.panel-ops p{
    padding: 8px 9px;
    margin: 5px 0px 6px;
}

/* sub-nav */

.sub-nav{
    height: 33px;
    background-color: #fafafa;
    margin: 0;
    padding: 0 9px 0 15px;
    border-top: 1px solid rgba(0, 0, 0, .17);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.sub-nav-items{
    display: flex;
    align-items: center;
    line-height: 33px;
    font-size: 12px;
    color: #333;
    box-sizing: border-box;
    border-bottom: 1px solid transparent;
}

.sub-nav-items p{
    padding: 0 11px;
}

.sub-nav-items-tDeal{
    font-weight: 700;
}

.sub-nav-items p{
    border-bottom: 1px solid transparent;
    block-size: border-box;
}

.sub-nav-items p:hover {
    color: #FF9900;
    border-bottom: 1px solid #FF9900; /* Use outlitom as transparent */
}
